.board-page {
  padding: 20px;
}

.board-header {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: space-between;
  background-color: rgba(255, 255, 255, 0.3);
  backdrop-filter: blur(8px);
  -webkit-backdrop-filter: blur(8px);
  padding: 15px 20px;
  border-top-left-radius: 16px;
  border-top-right-radius: 16px;
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1);
  height: fit-content;
}

.back-btn {
  background-color: #1e3a8a;
  color: white;
  border: none;
  border-radius: 6px;
  padding: 6px 12px;
  cursor: pointer;
  margin-bottom: 10px;
}

.back-btn:hover {
  background-color: #2563eb;
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.15);
}

.board-header h2 {
  margin: 0;
  font-size: 25px;
  font-weight: 600;
}

.board-desc, .board-header p {
  margin: 0;
  font-size: 12px;
  color: #444;
}

.lists-container {
  display: flex;
  gap: 10px;
  overflow-x: auto;
  padding: 10px;
  background: rgba(255, 255, 255, 0.15);
  backdrop-filter: blur(6px);
  -webkit-backdrop-filter: blur(6px);
  border-bottom-left-radius: 16px;
  border-bottom-right-radius: 16px;
}

.list-column:hover{
  transform: translateY(-1px);
}

.list-column {
  background: #e8ecf1;
  border-radius: 8px;
  padding: 10px;
  min-width: 250px;
  max-height: 500px;
  height: fit-content;
  overflow-y: auto;
}

.card-item {
  background: white;
  padding: 10px;
  border-radius: 6px;
  margin-bottom: 10px;
  box-shadow: 0 1px 2px rgba(0, 0, 0, 0.1);
}

.card-item:hover{
  transform: scale(1.02);
}
.label {
  display: inline-block;
  background-color: #3b82f6;
  color: white;
  border-radius: 4px;
  padding: 2px 6px;
  font-size: 12px;
  margin-right: 5px;
}

.empty {
  color: #999;
  font-size: 14px;
  text-align: center;
  margin: 10px 0;
}

.add-card-btn {
  background: none;
  border: none;
  color: #555;
  cursor: pointer;
  padding: 6px;
  border-radius: 6px;
  transition: background 0.2s;
}

.add-card-btn:hover {
  background: #e6f7ff;
}

.add-list {
  background: rgba(255,255,255,0.4);
  border: 2px dashed #ccc;
  color: #333;
  border-radius: 10px;
  padding: 12px;
  min-width: 200px;
  height: fit-content;
  cursor: pointer;
  transition: background 0.3s ease;
}

.add-list:hover {
  background: rgba(255,255,255,0.6);
}

.card-item h4, .card-item p, .card-item small {
    margin: 0 0 2px 0; 
}

