.board-page {
  padding: 20px;
  height: 100vh;
}

.board-header {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: space-between;
  background-color: rgba(255, 255, 255, 0.3);
  backdrop-filter: blur(8px);
  -webkit-backdrop-filter: blur(8px);
  padding: 15px 20px;
  border-top-left-radius: 16px;
  border-top-right-radius: 16px;
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1);
  height: fit-content;
}

.back-btn {
  background-color: #1e3a8a;
  color: white;
  border: none;
  border-radius: 6px;
  padding: 6px 12px;
  cursor: pointer;
  margin-bottom: 10px;
}

.back-btn:hover {
  background-color: #2563eb;
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.15);
}

.board-header h2 {
  margin: 0;
  font-size: 25px;
  font-weight: 600;
}

.board-desc, .board-header p {
  margin: 0;
  font-size: 12px;
  color: #444;
}

.lists-container {
  display: flex;
  gap: 10px;
  overflow-x: auto;
  padding: 10px;
  background: rgba(255, 255, 255, 0.15);
  backdrop-filter: blur(6px);
  -webkit-backdrop-filter: blur(6px);
  border-bottom-left-radius: 16px;
  border-bottom-right-radius: 16px;
}



.add-list {
  background: rgba(255,255,255,0.4);
  border: 2px dashed #ccc;
  color: #333;
  border-radius: 10px;
  padding: 12px;
  min-width: 200px;
  height: fit-content;
  cursor: pointer;
  transition: background 0.3s ease;
}

.add-list:hover {
  background: rgba(255,255,255,0.6);
}

.card-item h4, .card-item p, .card-item small {
    margin: 0 0 2px 0; 
}

.add-card-btn {
  background-color: rgba(255, 255, 255, 0.25);
  color: #858181;
  border: none;
  padding: 8px 12px;
  border-radius: 6px;
  margin-top: 8px;
  cursor: pointer;
  transition: background 0.2s;
}

.add-card-btn:hover {
  background-color: rgba(255, 255, 255, 0.4);
}

.add-list-form {
  display: flex;
  flex-direction: column;
  gap: 8px;
  background: #f9fafb;
  border-radius: 8px;
  padding: 12px;
  box-shadow: 0 2px 5px rgba(0,0,0,0.1);
  height: fit-content;
}

.add-list-form input {
  padding: 8px 10px;
  border: 1px solid #d1d5db;
  border-radius: 6px;
  outline: none;
}

.add-list-form input:focus {
  border-color: #3b82f6;
}

.add-list-form button {
  padding: 6px 10px;
  border: none;
  border-radius: 6px;
  cursor: pointer;
  font-weight: 500;
  transition: background 0.2s;
}

.add-list-form button:nth-child(2) {
  background-color: #9ca3af;
  color: rgb(199, 191, 191);
}

.add-list-form button:nth-child(2):hover {
  background-color: #6b7280;
}

.add-list-form button:nth-child(3) {
  background-color: #3b82f6;
  color: white;
}

.add-list-form button:nth-child(3):hover {
  background-color: #2563eb;
}

.add-list {
  background-color: rgba(255, 255, 255, 0.25);
  color: #918989;
  border-radius: 8px;
  padding: 10px 14px;
  cursor: pointer;
  min-width: 250px;
  text-align: center;
  margin-left: 8px;
  transition: background 0.2s;
}

.add-list:hover {
  background-color: rgba(255, 255, 255, 0.4);
}



.board-container {
  display: flex;
  width: 100%;
  transition: all 0.3s;
}

.board-main {
  flex: 1;
  transition: all 0.3s;
}

.board-main.shrink {
  flex: 0 0 70%; 
}

.side-panel {
  width: 30%;
  background: #fff;
  border-right: 1px solid #ddd;
  border-radius: 16px;
  padding: 12px;
  overflow-y: auto;
  box-shadow: 2px 0 12px rgba(0,0,0,0.1);
  margin-right: 10px;
}
