.search-bar-container {
  display: flex;
  justify-content: flex-start;
  gap: 20px;
  align-items: center;
  top: 0;
  left: 0;
  width: 100%;
  height: 60px;
  background: linear-gradient(135deg, #12365a, #1e40af);
  /* background-color: rgba(255, 255, 255, 4.6); */
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.2);
  z-index: 1000;
}

.logo {
  display: flex;
  align-items: center;
  margin-left: 20px;
  gap: 10px;
}

.logo a {
  color: white;
  text-decoration: none;
  font-weight: 700;
  font-size: 1.4rem;
  letter-spacing: 1px;
}

.search-bar {
  display: flex;
  align-items: center;
  background: #fff;
  border-radius: 8px;
  padding: 8px 14px;
  max-width: 450px;
  width: 100%;
  box-shadow: 0 2px 6px rgba(0, 0, 0, 0.15);
  transition: box-shadow 0.2s ease, transform 0.2s ease;
}

.search-bar:hover {
  transform: translateY(-1px);
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.25);
}

.search-bar input {
  border: none;
  outline: none;
  margin-right: 8px;
  flex: 1;
  font-size: 14px;
  background: transparent;
}

.btn-logout {
  margin-right: 10px;
  padding: 8px 16px;
  background: #1890ff;
  color: #fff;
  border: none;
  border-radius: 6px;
  cursor: pointer;
  transition: background 0.2s ease;
  background: #ff4d4f;
}

.btn-logout:hover {
  background: #ff7875;
}

.avatar-img {
  width: 40px;
  height: 40px;
  border-radius: 50%;
  background-color: #1e40af;
  color: white;
  display: flex;
  align-items: center;
  justify-content: center;
  font-weight: bold;
  cursor: pointer;
}

.avatar-container {
  position: relative;
  margin-left: auto;
}

.dropdown-menu {
  position: absolute;
  top: 50px;
  right: 0;
  background-color: white;
  border: 1px solid #ccc;
  border-radius: 6px;
  box-shadow: 0 2px 6px rgba(0, 0, 0, 0.2);
  padding: 10px;
  z-index: 100;
  min-width: 100px;
}

.dropdown-menu p {
  margin: 0;
  padding: 5px 10px;
  cursor: pointer;
}

.dropdown-menu p:hover {
  background-color: #f0f0f0;
}

.header-actions {
  display: flex;
  align-items: center;
}

.template-btn {
  padding: 8px 16px;
  border-radius: 6px;
  border: none;
  cursor: pointer;
  font-weight: 600;
  color: white;
  background: #10b981;
  white-space: nowrap;
  transition: 0.2s;
}

.template-btn:hover {
  opacity: 0.85;
}
.search-center-area {
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  display: flex;
  align-items: center;
  gap: 12px; /* khoảng cách giữa search và nút */
}
